@import './utils/normalize';
@import './base/fonts';
@import './utils/variables';
@import './utils/placeholders';
@import './utils/mixins';
@import './base/base';

@import './components/container';
@import './components/section';
@import './components/description';
@import './components/contact-form';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/what-we-do';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
