.filter {
    &-projects {
        @extend %container, %align-center;

        &-list {
            @extend %list, %flex-wrap;
        }

        &-item:not(:last-child) {
            margin-right: 8px;
        }
    }

    &-btn {
        height: 38px;
        @include font($fs: 16px, $fw: 500, $lh: 1.6em);
        background-color: #f5f4fa;
        border: 0;
        border-radius: 4px;
        padding-left: 22px;
        padding-right: 22px;
        margin-bottom: 50px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &-accent {
            background-color: $accent-color;
            color: $text-light-theme-color;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
                0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        }

        &:hover,
        &:focus {
            background-color: $accent-color;
            color: $text-light-theme-color;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
                0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        }
    }
}
