.footer {
  &-logo {
    @include font($secondary-font, 26px, 700, 1.192);
    color: $text-light-theme-color;
  }

  &-address {
    margin-right: 69px;

    &-list {
      margin-top: 20px;

      &-item:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &-link {
      @include font($lh: 1.714);
      color: $text-light-theme-color;
    }
  }

  &-mail-link,
  &-tel-link {
    @include font($lh: 1.714);
    color: #ffffff99;
  }

  &-form-title {
    @include font($fw: 700);
    color: $text-light-theme-color;
    margin-bottom: 20px;
  }

  &-form {
    &-container {
      width: 570px;
      height: 86px;
      margin-left: 94px;
    }

    &-btn {
      width: 200px;
      height: 50px;
      @include font($fs: 16px, $fw: 700, $lh: 1.875, $ls: 0.06em);
      color: $text-light-theme-color;
      background-color: $accent-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: 0;
      cursor: pointer;

      &-svg {
        fill: $text-light-theme-color;
        margin-left: 10px;
      }
    }

    &-box {
      display: flex;
    }

    &-input {
      width: 100%;
      max-width: 358px;
      height: 50px;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: transparent;
      color: $text-light-theme-color;
      padding-left: 16px;
      margin-right: 12px;
    }
  }
}

.social-links {
  &-title {
    @include font($fw: 700);
    color: $text-light-theme-color;
    margin-bottom: 20px;
  }

  &-item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &-link {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &-svg {
        width: 20px;
        height: 20px;
        fill: #afb1b8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:hover,
      &:focus {
        background-color: $accent-color;
      }
      &:hover &-svg,
      &:focus &-svg {
        fill: $text-light-theme-color;
      }
    }
  }
}
