.project {
    &-content {
        @extend %container;
    }

    &-list {
        @extend %list, %flex-wrap;

        &-item {
            width: 370px;
            height: 404px;
            margin-right: 30px;
            margin-bottom: 30px;

            &-link {
                display: block;
                border: 1px solid #eeeeee;

                &:hover,
                &:focus {
                    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                        0px 4px 4px rgba(0, 0, 0, 0.06),
                        0px 1px 1px rgba(0, 0, 0, 0.12);
                }

                &:hover .project-description {
                    transform: translateY(0);
                }
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-last-child(-n + 3) {
                margin-bottom: 0;
            }
        }
    }

    &-title {
        padding: 20px;
    }

    &-name {
        @include font($fs: 18px, $fw: 700, $lh: 2em, $ls: 0.06em);
    }

    &-type {
        @include font($fs: 16px, $lh: 1.9em);
        color: $desc-color;
    }

    &-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @extend %align-center;
        @include font($fs: 18px, $lh: 1.55em);
        color: $text-light-theme-color;
        background-color: rgba(33, 150, 243, 0.9);
        padding-left: 24px;
        padding-right: 24px;

        transform: translateY(100%);
        transition: 250ms transform linear;
    }
}

.box {
    position: relative;
    overflow: hidden;
}
