.team {
  &-card {
    &-list {
      justify-content: space-between;
    }

    &-item {
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 0px 0px 4px 4px;
      text-align: center;
      width: 270px;

      & img {
        margin-bottom: 30px;
      }
    }
    &-name {
      @include font($fs: 16px, $fw: 500, $lh: 1.188);
      margin-bottom: 10px;
    }

    &-profession {
      @include font($fs: 16px, $lh: 1.188);
      color: $desc-color;
      margin-bottom: 16px;
    }
  }

  &-social-links-item {
    margin-bottom: 24px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-link {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &-svg {
        width: 20px;
        height: 20px;
        fill: #afb1b8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:hover,
      &:focus {
        background-color: $accent-color;
      }

      &:hover &-svg,
      &:focus &-svg {
        fill: $text-light-theme-color;
      }
    }
  }
}
