.what-we-do {
    margin-top: 0;
    &-content {
        @extend %container;
    }

    &-list {
        @extend %list, %flex-wrap;
    }

    &-item {
        position: relative;
        width: 370px;

        &-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            @extend %uppercase;
            @include font($fw: 700, $lh: 1.15em);
            color: $text-light-theme-color;
            background: rgba(47, 48, 58, 0.8);
            padding-top: 27px;
            padding-bottom: 27px;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
