.what-we-do {
    margin-top: 0;
}

.what-we-do-item {
    width: 370px;
    position: relative;
}

.what-we-do-item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do-item-title {
    font-weight: 700;
    line-height: 1.15em;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
    color: $text-light-theme-color;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    position: absolute;
    bottom: 0;
}