.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.contact-form-container {
    position: relative;
}

.contact-form-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn-close:hover,
.contact-form-btn-close:focus {
    background-color: $accent-color;
}

.contact-form-btn-close:hover .contact-form-btn-close-svg,
.contact-form-btn-close:focus .contact-form-btn-close-svg {
    fill: #ffffff;
}

.contact-form {
    max-width: 528px;
    background-color: $title-dark-theme-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.contact-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15em;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-dark-theme-color;
    margin-bottom: 30px;
}

.contact-form-item {
    position: relative;
    margin-bottom: 30px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-svg {
    position: absolute;
    left: 15px;
    top: 11px;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-label {
    position: absolute;
    top: 12px;
    left: 42px;
    color: $desc-color;
}

.contact-form-item input:not(:placeholder-shown) ~ .contact-form-input-label {
    top: 0;
    left: 15px;
    font-size: 12px;
    visibility: visible;
    color: $accent-color;
    transform: translateY(-16px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input,
.contact-form-comment {
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
}

.contact-form-input {
    height: 40px;
}

.contact-form-input:not(:placeholder-shown):valid {
    border-color: lawngreen;
}

.contact-form-input:not(:placeholder-shown):invalid {
    border-color: red;
}

.contact-form-comment {
    height: 120px;
    margin-bottom: 20px;
    resize: none;
    padding: 12px 16px;
}

.contact-form-item:hover .contact-form-input-svg,
.contact-form-item:focus .contact-form-input-svg {
    fill: $accent-color;
}

.contact-form-item:hover .contact-form-input,
.contact-form-item:focus .contact-form-input,
.contact-form-comment:hover,
.contact-form-comment:focus {
    border-color: $accent-color;
}

.contact-form-option-label {
    margin-bottom: 30px;
    padding-left: 1.2em;
}

.contact-form-option-label-span {
    margin-left: 7px;
    color: $desc-color;
}

.contact-form-option-label-span a {
    color: $accent-color;
}

.contact-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-form-custom-checkbox {
    position: absolute;
    width: 16px;
    height: 15px;
    margin-left: -1.2em;
    border: 1px solid #212121;
    border-radius: 2px;
    background-color: #ffffff;
    flex-shrink: 0;
}

.contact-form-checkbox:checked + .contact-form-custom-checkbox {
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: $accent-color;
    border-color: $accent-color;
}

.contact-form-btn {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9em;
    letter-spacing: 0.06em;
    width: 200px;
    background-color: $accent-color;
    color: $text-light-theme-color;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
