.modal-btn {
    @include font($fw: 700, $fs: 16px, $lh: 1.9em, $ls: 0.06em);
    color: $text-light-theme-color;
    background-color: $accent-color;
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 10px 32px;
}
