*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $title-dark-theme-color;
    /*font-family: $main-font;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    color: $text-dark-theme-color;*/
    @include font();
}

header {
    border-bottom: 1px solid #ececec;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p,
span {
    margin: 0;
}

a {
    color: $text-dark-theme-color;
    text-decoration: none;
    font-style: normal;
}

footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.accent {
    color: $accent-color;
}

.hide-item {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
