*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include font;
  color: $text-dark-theme-color;
  background-color: $title-dark-theme-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: $text-dark-theme-color;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.description {
  color: $desc-color;
  @include font($lh: 1.714);
}

.accent {
  color: $accent-color;
}

.active-page ::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  margin-top: 28px;
}

.hide-item {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
