%flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

%align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%uppercase {
    text-transform: uppercase;
}

%list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

%description {
    @include font($lh: 1.7em);
    color: $desc-color;
}
