$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$title-dark-theme-color: #ffffff;
$title-light-theme-color: #212121;
$text-dark-theme-color: #212121;
$text-light-theme-color: #ffffff;
$accent-color: #2196f3;
$desc-color: #757575;
